<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Praktisk info</h2>
                    <h3 class="section-subheading text-muted">Saknar ni någon information nedan, kontakta brudparet</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Resa till Stockholm</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Boende i Stockholm</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vigsel & middag</h4>
                    <p class="text-muted">Vigseln kommer att äga rum i Kungsholms Kyrka. Därefter gemensam båttransport från Klara Mälarstrand, stadshuskajen för efterföljande middag och fest i Stora Salen, Winterviken.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bröllopsgåva</h4>
                    <p class="text-muted">Den största gåvan är att få dela vår stora dag med er. Om ni vill ge en gåva så hittar ni vår önskelista <a href="https://www.pinterest.se/johanbostrom90/bostromwedding/">här</a>. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-black-tie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dresscode</h4>
                    <p class="text-muted">Mörk kostym</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Övrigt</h4>
                    <p class="text-muted"><b>Barn</b> Vi tycker om era barn, men på bröllopet önskar vi att guldklimparna lämnas hemma.</p>
                    <p class="text-muted"><b>Kost</b> Allergier eller alternativ kost anges i samband med anmälan.</p>


                </div>
            </div>
        </div>
    </section>
