<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schema för dagen</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/church.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LÖRDAG 15 AUGUSTI KL 15:30</h4>
                                    <h4 class="subheading">Vigsel i Kungsholms Kyrka</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Efter vigseln fotograferas alla bröllopsgäster med brudparet på kyrkbacken. <a href="href="https://www.google.com/maps/place/Kungsholms+Kyrka/@59.3287657,18.0464637,590m/data=!3m2!1e3!4b1!4m5!3m4!1s0x465f77df54720313:0xbe7fca63cb71c1e5!8m2!3d59.328763!4d18.0486524?hl=sv" target="_blank">Kungsholmens kyrka</a> ligger på Kungsholmen ett stenkast från Stockholms stadshus</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/boat.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LÖRDAG 15 AUGUSTI KL 17:30</h4>
                                    <h4 class="subheading">Bubbel och båttransport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vårt värdpar, Simon och Ofelia, guidar er till <a href="https://www.google.com/maps/d/viewer?mid=zQMrGHxG5T74.kvz6dB0dyXKc" target="_blank">Klara Mälarstrand</a>, ca 5 minuters promenad från kyrkan för gemensam båtfärd till festlokalen.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/winterviken.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LÖRDAG 15 AUGUSTI KL 18:00</h4>
                                    <h4 class="subheading">Mingel och brudskål, Winterviken</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bröllopsgästerna möter upp brudparet utanför <a href="https://www.google.se/maps/place/Winterviken/@59.3116397,17.989743,17z/data=!3m1!4b1!4m5!3m4!1s0x465f764992059b81:0x85de2c2e13f967a4!8m2!3d59.311637!4d17.991937" target="_blank">festlokalen</a>. Våra toastmasters, Erik och Lisa, tar över stafettpinnen och öppnar kvällen med mingel och brudskål! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dinner.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LÖRDAG 15 AUGUSTI KL 18:30</h4>
                                    <h4 class="subheading">Bröllopsmiddag, Stora Salen, Winterviken</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Middagen hålls en trappa upp i Stora Salen.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.gif" loop=infinite alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>LÖRDAG 15 AUGUSTI 23:00</h4>
                                    <h4 class="subheading">Bröllopsfest, Krutkällaren, Winterviken</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Klackarna i taket! Gemensam fest hålls en trappa ned i Krutkällaren, och inpå småtimmarna. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
